<div class="contacts">
  <a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a>
  {% if site.author.github and site.author.github != '' %}<a href="https://github.com/{{ site.author.github }}">GitHub</a>{% endif %}
  {% if site.author.scholar and site.author.scholar != '' %}<a href="{{ site.author.scholar }}">Google Scholar</a>{% endif %}
  {% if site.author.orcid and site.author.orcid != '' %}<a href="{{ site.author.orcid }}">ORCID</a>{% endif %}
  {% if site.author.linkedin and site.author.linkedin != '' %}<a href="{{ site.author.linkedin }}">LinkedIn</a>{% endif %}
  {% if site.author.twitter and site.author.twitter != '' %}<a href="{{ site.author.twitter }}">X</a>{% endif %}
  {% if site.author.cv_pdf and site.author.cv_pdf != '' %}<a href="{{ site.author.cv_pdf }}">CV (PDF)</a>{% endif %}
</div>
